# Pliki i katalogi lokalne, które nie będą wysyłane na GitHub

# Ignoruj pliki tymczasowe edytorów
*.swp
*.swo
*.bak
*.tmp
*.log

# Ignoruj notebook checkpointy
.ipynb_checkpoints/

# Ignoruj dane pomocnicze
Data/

# Ignoruj wszystkie pliki CSV
# *.csv

# Ignoruj pliki cache Pythona
__pycache__/
*.pyc

# Ignoruj foldery środowisk wirtualnych
.env/
.venv/
venv/
ENV/
env/

# Ignoruj foldery IDE
.vscode/
.idea/

# Ignoruj pliki konfiguracyjne użytkownika
*.DS_Store
Thumbs.db
